# Books (Core)

Anjali Prakash

ERD Diagram for relationship between users and books

## Imports

In [103]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus

In [104]:
username = "root"
password = quote_plus("Crazyjungle!234") # Using the quote function to make the password compatible
db_name = "books_core"

In [105]:
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books_core)

In [106]:
create_database(connection)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'books_core'; database exists")
[SQL: CREATE DATABASE books_core CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [107]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [108]:
import pandas as pd
df = pd.read_csv('data/authors.csv')
df.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [109]:
df.to_sql('authors', engine, if_exists = 'replace')

5

In [110]:
df2 = pd.read_csv('data/books.csv')
df2.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [111]:
df2.to_sql('books', engine, if_exists = 'replace')

6

In [112]:
df3 = pd.read_csv('data/favorites.csv')
df3.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [113]:
df3.to_sql('favorites', engine, if_exists = 'replace')

7

In [114]:
df4 = pd.read_csv('data/users.csv')
df4.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [115]:
df4.to_sql('users', engine, if_exists = 'replace')

3

In [116]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books_core
0              authors
1                books
2            favorites
3                users

In [117]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1